* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sakkal Majalla", sans-serif;
}
html {
  scroll-behavior: smooth;
  scrollbar-width: normal;
  scrollbar-color: #0061ab #ddd;
}
::-webkit-scrollbar {
  width: 0.6vw;
}
::-webkit-scrollbar-thumb {
  background: #0061ab;
}
::-webkit-scrollbar-track {
  background: #ddd;
}
.app {
  display: flex;
  height: 100vh;
}
.content {
  flex: 1;
  padding: 20px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
  transition: color 0.3s ease;
}
a:hover {
  color: rgb(45, 92, 193);
}
h2 {
  margin: 16px;
  font-size: 32px;
}
